{% if  mikrotik_firewall.remove_old_filter_rules == true %}
/ip firewall filter remove [/ip firewall filter find]
{% endif %}


{% for filter in mikrotik_firewall.filter_rules %}
/ip firewall filter add chain={{filter.chain}} \
{% if filter.action is defined %}action={{filter.action}} {%endif%}\
{% if filter.hotspot is defined %}hotspot={{filter.hotspot}} {%endif%}\
{% if filter.out_bridge_port is defined %}out-bridge-port={{filter.out_bridge_port}} {%endif%}\
{% if filter.routing_mark is defined %}routing-mark={{filter.routing_mark}} {%endif%}\
{% if filter.address_list is defined %}address-list={{filter.address_list}} {%endif%}\
{% if filter.icmp_options is defined %}icmp-options={{filter.icmp_options}} {%endif%}\
{% if filter.out_bridge_port_list is defined %}out-bridge-port-list={{filter.out_bridge_port_list}} {%endif%}\
{% if filter.routing_table is defined %}routing-table={{filter.routing_table}} {%endif%}\
{% if filter.address_list_timeout is defined %}address-list-timeout={{filter.address_list_timeout}} {%endif%}\
{% if filter.in_bridge_port is defined %}in-bridge-port={{filter.in_bridge_port}} {%endif%}\
{% if filter.out_interface is defined %}out-interface={{filter.out_interface}} {%endif%}\
{% if filter.src_address is defined %}src-address={{filter.src_address}} {%endif%}\
{% if filter.comment is defined %}comment="Ansible managed: [{{filter.comment}}]" {%endif%}\
{% if filter.in_bridge_port_list is defined %}in-bridge-port-list={{filter.in_bridge_port_list}} {%endif%}\
{% if filter.out_interface_list is defined %}out-interface-list={{filter.out_interface_list}} {%endif%}\
{% if filter.src_address_list is defined %}src-address-list={{filter.src_address_list}} {%endif%}\
{% if filter.connection_bytes is defined %}connection-bytes={{filter.connection_bytes}} {%endif%}\
{% if filter.connection_mark is defined %}connection-mark={{filter.connection_mark}} {%endif%}\
{% if filter.connection_rate is defined %}connection-rate={{filter.connection_rate}} {%endif%}\
{% if filter.connection_type is defined %}connection-type={{filter.connection_type}} {%endif%}\
{% if filter.connection_limit is defined %}connection-limit={{filter.connection_limit}} {%endif%}\
{% if filter.connection_nat_state is defined %}connection-nat-state={{filter.connection_nat_state}} {%endif%}\
{% if filter.connection_state is defined %}connection-state={{filter.connection_state}} {%endif%}\
{% if filter.in_interface is defined %}in-interface={{filter.in_interface}} {%endif%}\
{% if filter.p2p is defined %}p2p={{filter.p2p}} {%endif%}\
{% if filter.src_address_type is defined %}src-address-type={{filter.src_address_type}} {%endif%}\
{% if filter.content is defined %}content={{filter.content}} {%endif%}\
{% if filter.in_interface_list is defined %}in-interface-list={{filter.in_interface_list}} {%endif%}\
{% if filter.packet_mark is defined %}packet-mark={{filter.packet_mark}} {%endif%}\
{% if filter.src_mac_address is defined %}src-mac-address={{filter.src_mac_address}} {%endif%}\
{% if filter.copy_from is defined %}copy-from={{filter.copy_from}} {%endif%}\
{% if filter.ingress_priority is defined %}ingress-priority={{filter.ingress_priority}} {%endif%}\
{% if filter.packet_size is defined %}packet-size={{filter.packet_size}} {%endif%}\
{% if filter.src_port is defined %}src-port={{filter.src_port}} {%endif%}\
{% if filter.disabled is defined %}disabled={{filter.disabled}} {%endif%}\
{% if filter.ipsec_policy is defined %}ipsec-policy={{filter.ipsec_policy}} {%endif%}\
{% if filter.per_connection_classifier is defined %}per-connection-classifier={{filter.per_connection_classifier}} {%endif%}\
{% if filter.tcp_flags is defined %}tcp-flags={{filter.tcp_flags}} {%endif%}\
{% if filter.dscp is defined %}dscp={{filter.dscp}} {%endif%}\
{% if filter.ipv4_options is defined %}ipv4-options={{filter.ipv4_options}} {%endif%}\
{% if filter.place_before is defined %}place-before={{filter.place_before}} {%endif%}\
{% if filter.tcp_mss is defined %}tcp-mss={{filter.tcp_mss}} {%endif%}\
{% if filter.dst_address is defined %}dst-address={{filter.dst_address}} {%endif%}\
{% if filter.jump_target is defined %}jump-target={{filter.jump_target}} {%endif%}\
{% if filter.port is defined %}port={{filter.port}} {%endif%}\
{% if filter.time is defined %}time={{filter.time}} {%endif%}\
{% if filter.dst_address_list is defined %}dst-address-list={{filter.dst_address_list}} {%endif%}\
{% if filter.layer7_protocol is defined %}layer7-protocol={{filter.layer7_protocol}} {%endif%}\
{% if filter.priority is defined %}priority={{filter.priority}} {%endif%}\
{% if filter.ttl is defined %}ttl={{filter.ttl}} {%endif%}\
{% if filter.dst_address_type is defined %}dst-address-type={{filter.dst_address_type}} {%endif%}\
{% if filter.limit is defined %}limit={{filter.limit}} {%endif%}\
{% if filter.protocol is defined %}protocol={{filter.protocol}} {%endif%}\
{% if filter.dst_limit is defined %}dst-limit={{filter.dst_limit}} {%endif%}\
{% if filter.log is defined %}log={{filter.log}} {%endif%}\
{% if filter.psd is defined %}psd={{filter.psd}} {%endif%}\
{% if filter.dst_port is defined %}dst-port={{filter.dst_port}} {%endif%}\
{% if filter.log_prefix is defined %}log-prefix={{filter.log_prefix}} {%endif%}\
{% if filter.random is defined %}random={{filter.random}} {%endif%}\
{% if filter.fragment is defined %}fragment={{filter.fragment}} {%endif%}\
{% if filter.nth is defined %}nth={{filter.nth}} {%endif%}\
{% if filter.reject_with is defined %}reject-with={{filter.reject_with}} {%endif%}
{%endfor%}