{% if  mikrotik_firewall.remove_old_mangle_rules == true %}
/ip firewall mangle remove [/ip firewall mangle find]
{% endif %}

/ip firewall mangle remove [/ip firewall mangle find where !(\
{% for mangle in mikrotik_firewall.mangle_rules %}
{% if iter is defined %} or {% endif %}chain={{mangle.chain}} \
{% if mangle.action is defined %}and action={{mangle.action}} {%endif%}
{% if mangle.in_bridge_port is defined %}and in-bridge-port={{mangle.in_bridge_port}} {%endif%}
{% if mangle.new_routing_mark is defined %}and new-routing-mark={{mangle.new_routing_mark}} {%endif%}
{% if mangle.random is defined %}and random={{mangle.random}} {%endif%}
{% if mangle.address_list is defined %}and address-list={{mangle.address_list}} {%endif%}
{% if mangle.in_bridge_port_list is defined %}and in-bridge-port-list={{mangle.in_bridge_port_list}} {%endif%}
{% if mangle.new_ttl is defined %}and new-ttl={{mangle.new_ttl}} {%endif%}
{% if mangle.route_dst is defined %}and route-dst={{mangle.route_dst}} {%endif%}
{% if mangle.address_list_timeout is defined %}and address-list-timeout={{mangle.address_list_timeout}} {%endif%}
{% if mangle.in_interface is defined %}and in-interface={{mangle.in_interface}} {%endif%}
{% if mangle.nth is defined %}and nth={{mangle.nth}} {%endif%}
{% if mangle.routing_mark is defined %}and routing-mark={{mangle.routing_mark}} {%endif%}
{% if mangle.comment is defined %}and comment="Ansible managed: [{{mangle.comment}}]" {%endif%}
{% if mangle.in_interface_list is defined %}and in-interface-list={{mangle.in_interface_list}} {%endif%}
{% if mangle.out_bridge_port is defined %}and out-bridge-port={{mangle.out_bridge_port}} {%endif%}
{% if mangle.routing_table is defined %}and routing-table={{mangle.routing_table}} {%endif%}
{% if mangle.connection_bytes is defined %}and connection-bytes={{mangle.connection_bytes}} {%endif%}
{% if mangle.connection_mark is defined %}and connection-mark={{mangle.connection_mark}} {%endif%}
{% if mangle.connection_rate is defined %}and connection-rate={{mangle.connection_rate}} {%endif%}
{% if mangle.connection_type is defined %}and connection-type={{mangle.connection_type}} {%endif%}
{% if mangle.connection_limit is defined %}and connection-limit={{mangle.connection_limit}} {%endif%}
{% if mangle.connection_nat_state is defined %}and connection-nat-state={{mangle.connection_nat_state}} {%endif%}
{% if mangle.connection_state is defined %}and connection-state={{mangle.connection_state}} {%endif%}
{% if mangle.ingress_priority is defined %}and ingress-priority={{mangle.ingress_priority}} {%endif%}
{% if mangle.out_bridge_port_list is defined %}and out-bridge-port-list={{mangle.out_bridge_port_list}} {%endif%}
{% if mangle.sniff_id is defined %}and sniff-id={{mangle.sniff_id}} {%endif%}
{% if mangle.content is defined %}and content={{mangle.content}} {%endif%}
{% if mangle.ipsec_policy is defined %}and ipsec-policy={{mangle.ipsec_policy}} {%endif%}
{% if mangle.out_interface is defined %}and out-interface={{mangle.out_interface}} {%endif%}
{% if mangle.sniff_target is defined %}and sniff-target={{mangle.sniff_target}} {%endif%}
{% if mangle.copy_from is defined %}and copy-from={{mangle.copy_from}} {%endif%}
{% if mangle.ipv4_options is defined %}and ipv4-options={{mangle.ipv4_options}} {%endif%}
{% if mangle.out_interface_list is defined %}and out-interface-list={{mangle.out_interface_list}} {%endif%}
{% if mangle.sniff_target_port is defined %}and sniff-target-port={{mangle.sniff_target_port}} {%endif%}
{% if mangle.disabled is defined %}and disabled={{mangle.disabled}} {%endif%}
{% if mangle.jump_target is defined %}and jump-target={{mangle.jump_target}} {%endif%}
{% if mangle.p2p is defined %}and p2p={{mangle.p2p}} {%endif%}
{% if mangle.src_address is defined %}and src-address={{mangle.src_address}} {%endif%}
{% if mangle.dscp is defined %}and dscp={{mangle.dscp}} {%endif%}
{% if mangle.layer7_protocol is defined %}and layer7-protocol={{mangle.layer7_protocol}} {%endif%}
{% if mangle.packet_mark is defined %}and packet-mark={{mangle.packet_mark}} {%endif%}
{% if mangle.src_address_list is defined %}and src-address-list={{mangle.src_address_list}} {%endif%}
{% if mangle.dst_address is defined %}and dst-address={{mangle.dst_address}} {%endif%}
{% if mangle.limit is defined %}and limit={{mangle.limit}} {%endif%}
{% if mangle.packet_size is defined %}and packet-size={{mangle.packet_size}} {%endif%}
{% if mangle.src_address_type is defined %}and src-address-type={{mangle.src_address_type}} {%endif%}
{% if mangle.dst_address_list is defined %}and dst-address-list={{mangle.dst_address_list}} {%endif%}
{% if mangle.log is defined %}and log={{mangle.log}} {%endif%}
{% if mangle.passthrough is defined %}and passthrough={{mangle.passthrough}} {%endif%}
{% if mangle.src_mac_address is defined %}and src-mac-address={{mangle.src_mac_address}} {%endif%}
{% if mangle.dst_address_type is defined %}and dst-address-type={{mangle.dst_address_type}} {%endif%}
{% if mangle.log_prefix is defined %}and log-prefix={{mangle.log_prefix}} {%endif%}
{% if mangle.per_connection_classifier is defined %}and per-connection-classifier={{mangle.per_connection_classifier}} {%endif%}
{% if mangle.src_port is defined %}and src-port={{mangle.src_port}} {%endif%}
{% if mangle.dst_limit is defined %}and dst-limit={{mangle.dst_limit}} {%endif%}
{% if mangle.new_connection_mark is defined %}and new-connection-mark={{mangle.new_connection_mark}} {%endif%}
{% if mangle.place_before is defined %}and place-before={{mangle.place_before}} {%endif%}
{% if mangle.tcp_flags is defined %}and tcp-flags={{mangle.tcp_flags}} {%endif%}
{% if mangle.dst_port is defined %}and dst-port={{mangle.dst_port}} {%endif%}
{% if mangle.new_dscp is defined %}and new-dscp={{mangle.new_dscp}} {%endif%}
{% if mangle.port is defined %}and port={{mangle.port}} {%endif%}
{% if mangle.tcp_mss is defined %}and tcp-mss={{mangle.tcp_mss}} {%endif%}
{% if mangle.fragment is defined %}and fragment={{mangle.fragment}} {%endif%}
{% if mangle.new_mss is defined %}and new-mss={{mangle.new_mss}} {%endif%}
{% if mangle.priority is defined %}and priority={{mangle.priority}} {%endif%}
{% if mangle.time is defined %}and time={{mangle.time}} {%endif%}
{% if mangle.hotspot is defined %}and hotspot={{mangle.hotspot}} {%endif%}
{% if mangle.new_packet_mark is defined %}and new-packet-mark={{mangle.new_packet_mark}} {%endif%}
{% if mangle.protocol is defined %}and protocol={{mangle.protocol}} {%endif%}
{% if mangle.ttl is defined %}and ttl={{mangle.ttl}} {%endif%}
{% if mangle.icmp_options is defined %}and icmp-options={{mangle.icmp_options}} {%endif%}
{% if mangle.new_priority is defined %}and new-priority={{mangle.new_priority}} {%endif%}
{% if mangle.psd is defined %}and psd={{mangle.psd}} {%endif%}
{% set iter = true %}
{%endfor%}
)]

{% for mangle in mikrotik_firewall.mangle_rules %}
:if ([/ip firewall mangle find chain={{mangle.chain}} \
{% if mangle.action is defined %}action={{mangle.action}} {%endif%}
{% if mangle.in_bridge_port is defined %}in-bridge-port={{mangle.in_bridge_port}} {%endif%}
{% if mangle.new_routing_mark is defined %}new-routing-mark={{mangle.new_routing_mark}} {%endif%}
{% if mangle.random is defined %}random={{mangle.random}} {%endif%}
{% if mangle.address_list is defined %}address-list={{mangle.address_list}} {%endif%}
{% if mangle.in_bridge_port_list is defined %}in-bridge-port-list={{mangle.in_bridge_port_list}} {%endif%}
{% if mangle.new_ttl is defined %}new-ttl={{mangle.new_ttl}} {%endif%}
{% if mangle.route_dst is defined %}route-dst={{mangle.route_dst}} {%endif%}
{% if mangle.address_list_timeout is defined %}address-list-timeout={{mangle.address_list_timeout}} {%endif%}
{% if mangle.in_interface is defined %}in-interface={{mangle.in_interface}} {%endif%}
{% if mangle.nth is defined %}nth={{mangle.nth}} {%endif%}
{% if mangle.routing_mark is defined %}routing-mark={{mangle.routing_mark}} {%endif%}
{% if mangle.comment is defined %}comment="Ansible managed: [{{mangle.comment}}]" {%endif%}
{% if mangle.in_interface_list is defined %}in-interface-list={{mangle.in_interface_list}} {%endif%}
{% if mangle.out_bridge_port is defined %}out-bridge-port={{mangle.out_bridge_port}} {%endif%}
{% if mangle.routing_table is defined %}routing-table={{mangle.routing_table}} {%endif%}
{% if mangle.connection_bytes is defined %}connection-bytes={{mangle.connection_bytes}} {%endif%}
{% if mangle.connection_mark is defined %}connection-mark={{mangle.connection_mark}} {%endif%}
{% if mangle.connection_rate is defined %}connection-rate={{mangle.connection_rate}} {%endif%}
{% if mangle.connection_type is defined %}connection-type={{mangle.connection_type}} {%endif%}
{% if mangle.connection_limit is defined %}connection-limit={{mangle.connection_limit}} {%endif%}
{% if mangle.connection_nat_state is defined %}connection-nat-state={{mangle.connection_nat_state}} {%endif%}
{% if mangle.connection_state is defined %}connection-state={{mangle.connection_state}} {%endif%}
{% if mangle.ingress_priority is defined %}ingress-priority={{mangle.ingress_priority}} {%endif%}
{% if mangle.out_bridge_port_list is defined %}out-bridge-port-list={{mangle.out_bridge_port_list}} {%endif%}
{% if mangle.sniff_id is defined %}sniff-id={{mangle.sniff_id}} {%endif%}
{% if mangle.content is defined %}content={{mangle.content}} {%endif%}
{% if mangle.ipsec_policy is defined %}ipsec-policy={{mangle.ipsec_policy}} {%endif%}
{% if mangle.out_interface is defined %}out-interface={{mangle.out_interface}} {%endif%}
{% if mangle.sniff_target is defined %}sniff-target={{mangle.sniff_target}} {%endif%}
{% if mangle.copy_from is defined %}copy-from={{mangle.copy_from}} {%endif%}
{% if mangle.ipv4_options is defined %}ipv4-options={{mangle.ipv4_options}} {%endif%}
{% if mangle.out_interface_list is defined %}out-interface-list={{mangle.out_interface_list}} {%endif%}
{% if mangle.sniff_target_port is defined %}sniff-target-port={{mangle.sniff_target_port}} {%endif%}
{% if mangle.disabled is defined %}disabled={{mangle.disabled}} {%endif%}
{% if mangle.jump_target is defined %}jump-target={{mangle.jump_target}} {%endif%}
{% if mangle.p2p is defined %}p2p={{mangle.p2p}} {%endif%}
{% if mangle.src_address is defined %}src-address={{mangle.src_address}} {%endif%}
{% if mangle.dscp is defined %}dscp={{mangle.dscp}} {%endif%}
{% if mangle.layer7_protocol is defined %}layer7-protocol={{mangle.layer7_protocol}} {%endif%}
{% if mangle.packet_mark is defined %}packet-mark={{mangle.packet_mark}} {%endif%}
{% if mangle.src_address_list is defined %}src-address-list={{mangle.src_address_list}} {%endif%}
{% if mangle.dst_address is defined %}dst-address={{mangle.dst_address}} {%endif%}
{% if mangle.limit is defined %}limit={{mangle.limit}} {%endif%}
{% if mangle.packet_size is defined %}packet-size={{mangle.packet_size}} {%endif%}
{% if mangle.src_address_type is defined %}src-address-type={{mangle.src_address_type}} {%endif%}
{% if mangle.dst_address_list is defined %}dst-address-list={{mangle.dst_address_list}} {%endif%}
{% if mangle.log is defined %}log={{mangle.log}} {%endif%}
{% if mangle.passthrough is defined %}passthrough={{mangle.passthrough}} {%endif%}
{% if mangle.src_mac_address is defined %}src-mac-address={{mangle.src_mac_address}} {%endif%}
{% if mangle.dst_address_type is defined %}dst-address-type={{mangle.dst_address_type}} {%endif%}
{% if mangle.log_prefix is defined %}log-prefix={{mangle.log_prefix}} {%endif%}
{% if mangle.per_connection_classifier is defined %}per-connection-classifier={{mangle.per_connection_classifier}} {%endif%}
{% if mangle.src_port is defined %}src-port={{mangle.src_port}} {%endif%}
{% if mangle.dst_limit is defined %}dst-limit={{mangle.dst_limit}} {%endif%}
{% if mangle.new_connection_mark is defined %}new-connection-mark={{mangle.new_connection_mark}} {%endif%}
{% if mangle.place_before is defined %}place-before={{mangle.place_before}} {%endif%}
{% if mangle.tcp_flags is defined %}tcp-flags={{mangle.tcp_flags}} {%endif%}
{% if mangle.dst_port is defined %}dst-port={{mangle.dst_port}} {%endif%}
{% if mangle.new_dscp is defined %}new-dscp={{mangle.new_dscp}} {%endif%}
{% if mangle.port is defined %}port={{mangle.port}} {%endif%}
{% if mangle.tcp_mss is defined %}tcp-mss={{mangle.tcp_mss}} {%endif%}
{% if mangle.fragment is defined %}fragment={{mangle.fragment}} {%endif%}
{% if mangle.new_mss is defined %}new-mss={{mangle.new_mss}} {%endif%}
{% if mangle.priority is defined %}priority={{mangle.priority}} {%endif%}
{% if mangle.time is defined %}time={{mangle.time}} {%endif%}
{% if mangle.hotspot is defined %}hotspot={{mangle.hotspot}} {%endif%}
{% if mangle.new_packet_mark is defined %}new-packet-mark={{mangle.new_packet_mark}} {%endif%}
{% if mangle.protocol is defined %}protocol={{mangle.protocol}} {%endif%}
{% if mangle.ttl is defined %}ttl={{mangle.ttl}} {%endif%}
{% if mangle.icmp_options is defined %}icmp-options={{mangle.icmp_options}} {%endif%}
{% if mangle.new_priority is defined %}new-priority={{mangle.new_priority}} {%endif%}
{% if mangle.psd is defined %}psd={{mangle.psd}} {%endif%}] = "") do={
/ip firewall mangle add chain={{mangle.chain}}\
{% if mangle.action is defined %}action={{mangle.action}} {%endif%}
{% if mangle.in_bridge_port is defined %}in-bridge-port={{mangle.in_bridge_port}} {%endif%}
{% if mangle.new_routing_mark is defined %}new-routing-mark={{mangle.new_routing_mark}} {%endif%}
{% if mangle.random is defined %}random={{mangle.random}} {%endif%}
{% if mangle.address_list is defined %}address-list={{mangle.address_list}} {%endif%}
{% if mangle.in_bridge_port_list is defined %}in-bridge-port-list={{mangle.in_bridge_port_list}} {%endif%}
{% if mangle.new_ttl is defined %}new-ttl={{mangle.new_ttl}} {%endif%}
{% if mangle.route_dst is defined %}route-dst={{mangle.route_dst}} {%endif%}
{% if mangle.address_list_timeout is defined %}address-list-timeout={{mangle.address_list_timeout}} {%endif%}
{% if mangle.in_interface is defined %}in-interface={{mangle.in_interface}} {%endif%}
{% if mangle.nth is defined %}nth={{mangle.nth}} {%endif%}
{% if mangle.routing_mark is defined %}routing-mark={{mangle.routing_mark}} {%endif%}
{% if mangle.comment is defined %}comment="Ansible managed: [{{mangle.comment}}]" {%endif%}
{% if mangle.in_interface_list is defined %}in-interface-list={{mangle.in_interface_list}} {%endif%}
{% if mangle.out_bridge_port is defined %}out-bridge-port={{mangle.out_bridge_port}} {%endif%}
{% if mangle.routing_table is defined %}routing-table={{mangle.routing_table}} {%endif%}
{% if mangle.connection_bytes is defined %}connection-bytes={{mangle.connection_bytes}} {%endif%}
{% if mangle.connection_mark is defined %}connection-mark={{mangle.connection_mark}} {%endif%}
{% if mangle.connection_rate is defined %}connection-rate={{mangle.connection_rate}} {%endif%}
{% if mangle.connection_type is defined %}connection-type={{mangle.connection_type}} {%endif%}
{% if mangle.connection_limit is defined %}connection-limit={{mangle.connection_limit}} {%endif%}
{% if mangle.connection_nat_state is defined %}connection-nat-state={{mangle.connection_nat_state}} {%endif%}
{% if mangle.connection_state is defined %}connection-state={{mangle.connection_state}} {%endif%}
{% if mangle.ingress_priority is defined %}ingress-priority={{mangle.ingress_priority}} {%endif%}
{% if mangle.out_bridge_port_list is defined %}out-bridge-port-list={{mangle.out_bridge_port_list}} {%endif%}
{% if mangle.sniff_id is defined %}sniff-id={{mangle.sniff_id}} {%endif%}
{% if mangle.content is defined %}content={{mangle.content}} {%endif%}
{% if mangle.ipsec_policy is defined %}ipsec-policy={{mangle.ipsec_policy}} {%endif%}
{% if mangle.out_interface is defined %}out-interface={{mangle.out_interface}} {%endif%}
{% if mangle.sniff_target is defined %}sniff-target={{mangle.sniff_target}} {%endif%}
{% if mangle.copy_from is defined %}copy-from={{mangle.copy_from}} {%endif%}
{% if mangle.ipv4_options is defined %}ipv4-options={{mangle.ipv4_options}} {%endif%}
{% if mangle.out_interface_list is defined %}out-interface-list={{mangle.out_interface_list}} {%endif%}
{% if mangle.sniff_target_port is defined %}sniff-target-port={{mangle.sniff_target_port}} {%endif%}
{% if mangle.disabled is defined %}disabled={{mangle.disabled}} {%endif%}
{% if mangle.jump_target is defined %}jump-target={{mangle.jump_target}} {%endif%}
{% if mangle.p2p is defined %}p2p={{mangle.p2p}} {%endif%}
{% if mangle.src_address is defined %}src-address={{mangle.src_address}} {%endif%}
{% if mangle.dscp is defined %}dscp={{mangle.dscp}} {%endif%}
{% if mangle.layer7_protocol is defined %}layer7-protocol={{mangle.layer7_protocol}} {%endif%}
{% if mangle.packet_mark is defined %}packet-mark={{mangle.packet_mark}} {%endif%}
{% if mangle.src_address_list is defined %}src-address-list={{mangle.src_address_list}} {%endif%}
{% if mangle.dst_address is defined %}dst-address={{mangle.dst_address}} {%endif%}
{% if mangle.limit is defined %}limit={{mangle.limit}} {%endif%}
{% if mangle.packet_size is defined %}packet-size={{mangle.packet_size}} {%endif%}
{% if mangle.src_address_type is defined %}src-address-type={{mangle.src_address_type}} {%endif%}
{% if mangle.dst_address_list is defined %}dst-address-list={{mangle.dst_address_list}} {%endif%}
{% if mangle.log is defined %}log={{mangle.log}} {%endif%}
{% if mangle.passthrough is defined %}passthrough={{mangle.passthrough}} {%endif%}
{% if mangle.src_mac_address is defined %}src-mac-address={{mangle.src_mac_address}} {%endif%}
{% if mangle.dst_address_type is defined %}dst-address-type={{mangle.dst_address_type}} {%endif%}
{% if mangle.log_prefix is defined %}log-prefix={{mangle.log_prefix}} {%endif%}
{% if mangle.per_connection_classifier is defined %}per-connection-classifier={{mangle.per_connection_classifier}} {%endif%}
{% if mangle.src_port is defined %}src-port={{mangle.src_port}} {%endif%}
{% if mangle.dst_limit is defined %}dst-limit={{mangle.dst_limit}} {%endif%}
{% if mangle.new_connection_mark is defined %}new-connection-mark={{mangle.new_connection_mark}} {%endif%}
{% if mangle.place_before is defined %}place-before={{mangle.place_before}} {%endif%}
{% if mangle.tcp_flags is defined %}tcp-flags={{mangle.tcp_flags}} {%endif%}
{% if mangle.dst_port is defined %}dst-port={{mangle.dst_port}} {%endif%}
{% if mangle.new_dscp is defined %}new-dscp={{mangle.new_dscp}} {%endif%}
{% if mangle.port is defined %}port={{mangle.port}} {%endif%}
{% if mangle.tcp_mss is defined %}tcp-mss={{mangle.tcp_mss}} {%endif%}
{% if mangle.fragment is defined %}fragment={{mangle.fragment}} {%endif%}
{% if mangle.new_mss is defined %}new-mss={{mangle.new_mss}} {%endif%}
{% if mangle.priority is defined %}priority={{mangle.priority}} {%endif%}
{% if mangle.time is defined %}time={{mangle.time}} {%endif%}
{% if mangle.hotspot is defined %}hotspot={{mangle.hotspot}} {%endif%}
{% if mangle.new_packet_mark is defined %}new-packet-mark={{mangle.new_packet_mark}} {%endif%}
{% if mangle.protocol is defined %}protocol={{mangle.protocol}} {%endif%}
{% if mangle.ttl is defined %}ttl={{mangle.ttl}} {%endif%}
{% if mangle.icmp_options is defined %}icmp-options={{mangle.icmp_options}} {%endif%}
{% if mangle.new_priority is defined %}new-priority={{mangle.new_priority}} {%endif%}
{% if mangle.psd is defined %}psd={{mangle.psd}} {%endif%}
}
{%endfor%}