{% if  mikrotik_firewall.remove_old_nat_rules == true %}
/ip firewall nat remove [/ip firewall nat find]
{% endif %}

/ip firewall nat remove [/ip firewall nat find where !(\
{% for nat in mikrotik_firewall.nat_rules %}{% if iter is defined %} or {% endif %}(chain="{{nat.chain}}" \
{% if nat.action is defined %}and action="{{nat.action}}" {%endif%}
{% if nat.hotspot is defined %}and hotspot="{{nat.hotspot}}" {%endif%}
{% if nat.out_bridge_port is defined %}and out-bridge-port="{{nat.out_bridge_port}}" {%endif%}
{% if nat.same_not_by_dst is defined %}and same-not-by-dst="{{nat.same_not_by_dst}}" {%endif%}
{% if nat.address_list is defined %}and address-list="{{nat.address_list}}" {%endif%}
{% if nat.icmp_options is defined %}and icmp-options="{{nat.icmp_options}}" {%endif%}
{% if nat.out_bridge_port_list is defined %}and out-bridge-port-list="{{nat.out_bridge_port_list}}" {%endif%}
{% if nat.src_address is defined %}and src-address="{{nat.src_address}}" {%endif%}
{% if nat.address_list_timeout is defined %}and address-list-timeout="{{nat.address_list_timeout}}" {%endif%}
{% if nat.in_bridge_port is defined %}and in-bridge-port="{{nat.in_bridge_port}}" {%endif%}
{% if nat.out_interface is defined %}and out-interface="{{nat.out_interface}}" {%endif%}
{% if nat.src_address_list is defined %}and src-address-list="{{nat.src_address_list}}" {%endif%}
{% if nat.comment is defined %}and comment="Ansible managed: [{{nat.comment}}]" {%endif%}
{% if nat.in_bridge_port_list is defined %}and in-bridge-port-list="{{nat.in_bridge_port_list}}" {%endif%}
{% if nat.out_interface_list is defined %}and out-interface-list="{{nat.out_interface_list}}" {%endif%}
{% if nat.src_address_type is defined %}and src-address-type="{{nat.src_address_type}}" {%endif%}
{% if nat.connection_bytes is defined %}and connection-bytes="{{nat.connection_bytes}}" {%endif%}
{% if nat.connection_limit is defined %}and connection-limit="{{nat.connection_limit}}" {%endif%}
{% if nat.connection_mark is defined %}and connection-mark="{{nat.connection_mark}}" {%endif%}
{% if nat.connection_rate is defined %}and connection-rate="{{nat.connection_rate}}" {%endif%}
{% if nat.connection_type is defined %}and connection-type="{{nat.connection_type}}" {%endif%}
{% if nat.in_interface is defined %}and in-interface="{{nat.in_interface}}" {%endif%}
{% if nat.packet_mark is defined %}and packet-mark="{{nat.packet_mark}}" {%endif%}
{% if nat.src_mac_address is defined %}and src-mac-address="{{nat.src_mac_address}}" {%endif%}
{% if nat.content is defined %}and content="{{nat.content}}" {%endif%}
{% if nat.in_interface_list is defined %}and in-interface-list="{{nat.in_interface_list}}" {%endif%}
{% if nat.packet_size is defined %}and packet-size="{{nat.packet_size}}" {%endif%}
{% if nat.src_port is defined %}and src-port="{{nat.src_port}}" {%endif%}
{% if nat.copy_from is defined %}and copy-from="{{nat.copy_from}}" {%endif%}
{% if nat.ingress_priority is defined %}and ingress-priority="{{nat.ingress_priority}}" {%endif%}
{% if nat.per_connection_classifier is defined %}and per-connection-classifier="{{nat.per_connection_classifier}}" {%endif%}
{% if nat.tcp_mss is defined %}and tcp-mss="{{nat.tcp_mss}}" {%endif%}
{% if nat.disabled is defined %}and disabled={{nat.disabled}} {%endif%}
{% if nat.ipsec_policy is defined %}and ipsec-policy="{{nat.ipsec_policy}}" {%endif%}
{% if nat.place_before is defined %}and place-before="{{nat.place_before}}" {%endif%}
{% if nat.time is defined %}and time="{{nat.time}}" {%endif%}
{% if nat.dscp is defined %}and dscp="{{nat.dscp}}" {%endif%}
{% if nat.ipv4_options is defined %}and ipv4-options="{{nat.ipv4_options}}" {%endif%}
{% if nat.port is defined %}and port="{{nat.port}}" {%endif%}
{% if nat.to_addresses is defined %}and to-addresses="{{nat.to_addresses}}" {%endif%}
{% if nat.dst_address is defined %}and dst-address="{{nat.dst_address}}" {%endif%}
{% if nat.jump_target is defined %}and jump-target="{{nat.jump_target}}" {%endif%}
{% if nat.priority is defined %}and priority="{{nat.priority}}" {%endif%}
{% if nat.to_ports is defined %}and to-ports="{{nat.to_ports}}" {%endif%}
{% if nat.dst_address_list is defined %}and dst-address-list="{{nat.dst_address_list}}" {%endif%}
{% if nat.layer7_protocol is defined %}and layer7-protocol="{{nat.layer7_protocol}}" {%endif%}
{% if nat.protocol is defined %}and protocol="{{nat.protocol}}" {%endif%}
{% if nat.ttl is defined %}and ttl="{{nat.ttl}}" {%endif%}
{% if nat.dst_address_type is defined %}and dst-address-type="{{nat.dst_address_type}}" {%endif%}
{% if nat.limit is defined %}and limit="{{nat.limit}}" {%endif%}
{% if nat.psd is defined %}and psd="{{nat.psd}}" {%endif%}
{% if nat.dst_limit is defined %}and dst-limit="{{nat.dst_limit}}" {%endif%}
{% if nat.log is defined %}and log="{{nat.log}}" {%endif%}
{% if nat.random is defined %}and random="{{nat.random}}" {%endif%}
{% if nat.dst_port is defined %}and dst-port="{{nat.dst_port}}" {%endif%}
{% if nat.log_prefix is defined %}and log-prefix="{{nat.log_prefix}}" {%endif%}
{% if nat.routing_mark is defined %}and routing-mark="{{nat.routing_mark}}" {%endif%}
{% if nat.fragment is defined %}and fragment="{{nat.fragment}}" {%endif%}
{% if nat.nth is defined %}and nth="{{nat.nth}}" {%endif%}
{% if nat.routing_table is defined %}and routing-table="{{nat.routing_table}}" {%endif%}) \
{% set iter = true %}
{%endfor%}
)]
# ADD
{% for nat in mikrotik_firewall.nat_rules %}
:if ([/ip firewall nat find chain="{{nat.chain}}" {% if nat.action is defined %}action="{{nat.action}}" {%endif%}
{% if nat.hotspot is defined %}hotspot="{{nat.hotspot}}" {%endif%}
{% if nat.out_bridge_port is defined %}out-bridge-port="{{nat.out_bridge_port}}" {%endif%}
{% if nat.same_not_by_dst is defined %}same-not-by-dst="{{nat.same_not_by_dst}}" {%endif%}
{% if nat.address_list is defined %}address-list="{{nat.address_list}}" {%endif%}
{% if nat.icmp_options is defined %}icmp-options="{{nat.icmp_options}}" {%endif%}
{% if nat.out_bridge_port_list is defined %}out-bridge-port-list="{{nat.out_bridge_port_list}}" {%endif%}
{% if nat.src_address is defined %}src-address="{{nat.src_address}}" {%endif%}
{% if nat.address_list_timeout is defined %}address-list-timeout="{{nat.address_list_timeout}}" {%endif%}
{% if nat.in_bridge_port is defined %}in-bridge-port="{{nat.in_bridge_port}}" {%endif%}
{% if nat.out_interface is defined %}out-interface="{{nat.out_interface}}" {%endif%}
{% if nat.src_address_list is defined %}src-address-list="{{nat.src_address_list}}" {%endif%}
{% if nat.comment is defined %}comment="Ansible managed: [{{nat.comment}}]" {%endif%}
{% if nat.in_bridge_port_list is defined %}in-bridge-port-list="{{nat.in_bridge_port_list}}" {%endif%}
{% if nat.out_interface_list is defined %}out-interface-list="{{nat.out_interface_list}}" {%endif%}
{% if nat.src_address_type is defined %}src-address-type="{{nat.src_address_type}}" {%endif%}
{% if nat.connection_bytes is defined %}connection-bytes="{{nat.connection_bytes}}" {%endif%}
{% if nat.connection_limit is defined %}connection-limit="{{nat.connection_limit}}" {%endif%}
{% if nat.connection_mark is defined %}connection-mark="{{nat.connection_mark}}" {%endif%}
{% if nat.connection_rate is defined %}connection-rate="{{nat.connection_rate}}" {%endif%}
{% if nat.connection_type is defined %}connection-type="{{nat.connection_type}}" {%endif%}
{% if nat.in_interface is defined %}in-interface="{{nat.in_interface}}" {%endif%}
{% if nat.packet_mark is defined %}packet-mark="{{nat.packet_mark}}" {%endif%}
{% if nat.src_mac_address is defined %}src-mac-address="{{nat.src_mac_address}}" {%endif%}
{% if nat.content is defined %}content="{{nat.content}}" {%endif%}
{% if nat.in_interface_list is defined %}in-interface-list="{{nat.in_interface_list}}" {%endif%}
{% if nat.packet_size is defined %}packet-size="{{nat.packet_size}}" {%endif%}
{% if nat.src_port is defined %}src-port="{{nat.src_port}}" {%endif%}
{% if nat.copy_from is defined %}copy-from="{{nat.copy_from}}" {%endif%}
{% if nat.ingress_priority is defined %}ingress-priority="{{nat.ingress_priority}}" {%endif%}
{% if nat.per_connection_classifier is defined %}per-connection-classifier="{{nat.per_connection_classifier}}" {%endif%}
{% if nat.tcp_mss is defined %}tcp-mss="{{nat.tcp_mss}}" {%endif%}
{% if nat.disabled is defined %}disabled={{nat.disabled}} {%endif%}
{% if nat.ipsec_policy is defined %}ipsec-policy="{{nat.ipsec_policy}}" {%endif%}
{% if nat.place_before is defined %}place-before="{{nat.place_before}}" {%endif%}
{% if nat.time is defined %}time="{{nat.time}}" {%endif%}
{% if nat.dscp is defined %}dscp="{{nat.dscp}}" {%endif%}
{% if nat.ipv4_options is defined %}ipv4-options="{{nat.ipv4_options}}" {%endif%}
{% if nat.port is defined %}port="{{nat.port}}" {%endif%}
{% if nat.to_addresses is defined %}to-addresses="{{nat.to_addresses}}" {%endif%}
{% if nat.dst_address is defined %}dst-address="{{nat.dst_address}}" {%endif%}
{% if nat.jump_target is defined %}jump-target="{{nat.jump_target}}" {%endif%}
{% if nat.priority is defined %}priority="{{nat.priority}}" {%endif%}
{% if nat.to_ports is defined %}to-ports="{{nat.to_ports}}" {%endif%}
{% if nat.dst_address_list is defined %}dst-address-list="{{nat.dst_address_list}}" {%endif%}
{% if nat.layer7_protocol is defined %}layer7-protocol="{{nat.layer7_protocol}}" {%endif%}
{% if nat.protocol is defined %}protocol="{{nat.protocol}}" {%endif%}
{% if nat.ttl is defined %}ttl="{{nat.ttl}}" {%endif%}
{% if nat.dst_address_type is defined %}dst-address-type="{{nat.dst_address_type}}" {%endif%}
{% if nat.limit is defined %}limit="{{nat.limit}}" {%endif%}
{% if nat.psd is defined %}psd="{{nat.psd}}" {%endif%}
{% if nat.dst_limit is defined %}dst-limit="{{nat.dst_limit}}" {%endif%}
{% if nat.log is defined %}log="{{nat.log}}" {%endif%}
{% if nat.random is defined %}random="{{nat.random}}" {%endif%}
{% if nat.dst_port is defined %}dst-port="{{nat.dst_port}}" {%endif%}
{% if nat.log_prefix is defined %}log-prefix="{{nat.log_prefix}}" {%endif%}
{% if nat.routing_mark is defined %}routing-mark="{{nat.routing_mark}}" {%endif%}
{% if nat.fragment is defined %}fragment="{{nat.fragment}}" {%endif%}
{% if nat.nth is defined %}nth="{{nat.nth}}" {%endif%}
{% if nat.routing_table is defined %}routing-table="{{nat.routing_table}}" {%endif%}] = "") do={
/ip firewall nat add chain={{nat.chain}} {% if nat.action is defined %}action={{nat.action}} {%endif%}
{% if nat.hotspot is defined %}hotspot={{nat.hotspot}} {%endif%}
{% if nat.out_bridge_port is defined %}out-bridge-port={{nat.out_bridge_port}} {%endif%}
{% if nat.same_not_by_dst is defined %}same-not-by-dst={{nat.same_not_by_dst}} {%endif%}
{% if nat.address_list is defined %}address-list={{nat.address_list}} {%endif%}
{% if nat.icmp_options is defined %}icmp-options={{nat.icmp_options}} {%endif%}
{% if nat.out_bridge_port_list is defined %}out-bridge-port-list={{nat.out_bridge_port_list}} {%endif%}
{% if nat.src_address is defined %}src-address={{nat.src_address}} {%endif%}
{% if nat.address_list_timeout is defined %}address-list-timeout={{nat.address_list_timeout}} {%endif%}
{% if nat.in_bridge_port is defined %}in-bridge-port={{nat.in_bridge_port}} {%endif%}
{% if nat.out_interface is defined %}out-interface={{nat.out_interface}} {%endif%}
{% if nat.src_address_list is defined %}src-address-list={{nat.src_address_list}} {%endif%}
{% if nat.comment is defined %}comment="Ansible managed: [{{nat.comment}}]" {%endif%}
{% if nat.in_bridge_port_list is defined %}in-bridge-port-list={{nat.in_bridge_port_list}} {%endif%}
{% if nat.out_interface_list is defined %}out-interface-list={{nat.out_interface_list}} {%endif%}
{% if nat.src_address_type is defined %}src-address-type={{nat.src_address_type}} {%endif%}
{% if nat.connection_bytes is defined %}connection-bytes={{nat.connection_bytes}} {%endif%}
{% if nat.connection_limit is defined %}connection-limit={{nat.connection_limit}} {%endif%}
{% if nat.connection_mark is defined %}connection-mark={{nat.connection_mark}} {%endif%}
{% if nat.connection_rate is defined %}connection-rate={{nat.connection_rate}} {%endif%}
{% if nat.connection_type is defined %}connection-type={{nat.connection_type}} {%endif%}
{% if nat.in_interface is defined %}in-interface={{nat.in_interface}} {%endif%}
{% if nat.packet_mark is defined %}packet-mark={{nat.packet_mark}} {%endif%}
{% if nat.src_mac_address is defined %}src-mac-address={{nat.src_mac_address}} {%endif%}
{% if nat.content is defined %}content={{nat.content}} {%endif%}
{% if nat.in_interface_list is defined %}in-interface-list={{nat.in_interface_list}} {%endif%}
{% if nat.packet_size is defined %}packet-size={{nat.packet_size}} {%endif%}
{% if nat.src_port is defined %}src-port={{nat.src_port}} {%endif%}
{% if nat.copy_from is defined %}copy-from={{nat.copy_from}} {%endif%}
{% if nat.ingress_priority is defined %}ingress-priority={{nat.ingress_priority}} {%endif%}
{% if nat.per_connection_classifier is defined %}per-connection-classifier={{nat.per_connection_classifier}} {%endif%}
{% if nat.tcp_mss is defined %}tcp-mss={{nat.tcp_mss}} {%endif%}
{% if nat.disabled is defined %}disabled={{nat.disabled}} {%endif%}
{% if nat.ipsec_policy is defined %}ipsec-policy={{nat.ipsec_policy}} {%endif%}
{% if nat.place_before is defined %}place-before={{nat.place_before}} {%endif%}
{% if nat.time is defined %}time={{nat.time}} {%endif%}
{% if nat.dscp is defined %}dscp={{nat.dscp}} {%endif%}
{% if nat.ipv4_options is defined %}ipv4-options={{nat.ipv4_options}} {%endif%}
{% if nat.port is defined %}port={{nat.port}} {%endif%}
{% if nat.to_addresses is defined %}to-addresses={{nat.to_addresses}} {%endif%}
{% if nat.dst_address is defined %}dst-address={{nat.dst_address}} {%endif%}
{% if nat.jump_target is defined %}jump-target={{nat.jump_target}} {%endif%}
{% if nat.priority is defined %}priority={{nat.priority}} {%endif%}
{% if nat.to_ports is defined %}to-ports={{nat.to_ports}} {%endif%}
{% if nat.dst_address_list is defined %}dst-address-list={{nat.dst_address_list}} {%endif%}
{% if nat.layer7_protocol is defined %}layer7-protocol={{nat.layer7_protocol}} {%endif%}
{% if nat.protocol is defined %}protocol={{nat.protocol}} {%endif%}
{% if nat.ttl is defined %}ttl={{nat.ttl}} {%endif%}
{% if nat.dst_address_type is defined %}dst-address-type={{nat.dst_address_type}} {%endif%}
{% if nat.limit is defined %}limit={{nat.limit}} {%endif%}
{% if nat.psd is defined %}psd={{nat.psd}} {%endif%}
{% if nat.dst_limit is defined %}dst-limit={{nat.dst_limit}} {%endif%}
{% if nat.log is defined %}log={{nat.log}} {%endif%}
{% if nat.random is defined %}random={{nat.random}} {%endif%}
{% if nat.dst_port is defined %}dst-port={{nat.dst_port}} {%endif%}
{% if nat.log_prefix is defined %}log-prefix={{nat.log_prefix}} {%endif%}
{% if nat.routing_mark is defined %}routing-mark={{nat.routing_mark}} {%endif%}
{% if nat.fragment is defined %}fragment={{nat.fragment}} {%endif%}
{% if nat.nth is defined %}nth={{nat.nth}} {%endif%}
{% if nat.routing_table is defined %}routing-table={{nat.routing_table}} {%endif%}
}
{%endfor%}
