{% if mikrotik_firewall.remove_old_raw_rules == true %}
/ip firewall raw remove [/ip firewall raw find where dynamic=no]
{% endif %}


/ip firewall raw remove [/ip firewall raw find where !(\
{% for raw in mikrotik_firewall.raw_rules %}
{% if iter is defined %} or {% endif %}(chain="{{raw.chain}}" \
{% if raw.action is defined %}and action="{{raw.action}}" {%endif%}
{% if raw.fragment is defined %}and fragment="{{raw.fragment}}" {%endif%}
{% if raw.log_prefix is defined %}and log-prefix="{{raw.log_prefix}}" {%endif%}
{% if raw.psd is defined %}and psd="{{raw.psd}}" {%endif%}
{% if raw.address_list is defined %}and address-list="{{raw.address_list}}" {%endif%}
{% if raw.hotspot is defined %}and hotspot="{{raw.hotspot}}" {%endif%}
{% if raw.nth is defined %}and nth="{{raw.nth}}" {%endif%}
{% if raw.random is defined %}and random="{{raw.random}}" {%endif%}
{% if raw.address_list_timeout is defined %}and address-list-timeout="{{raw.address_list_timeout}}" {%endif%}
{% if raw.icmp_options is defined %}and icmp-options="{{raw.icmp_options}}" {%endif%}
{% if raw.out_bridge_port is defined %}and out-bridge-port="{{raw.out_bridge_port}}" {%endif%}
{% if raw.src_address is defined %}and src-address="{{raw.src_address}}" {%endif%}
{% if raw.comment is defined %}and comment="Ansible managed: [{{raw.comment}}]" {%endif%}
{% if raw.in_bridge_port is defined %}and in-bridge-port="{{raw.in_bridge_port}}" {%endif%}
{% if raw.out_bridge_port_list is defined %}and out-bridge-port-list="{{raw.out_bridge_port_list}}" {%endif%}
{% if raw.src_address_list is defined %}and src-address-list="{{raw.src_address_list}}" {%endif%}
{% if raw.content is defined %}and content="{{raw.content}}" {%endif%}
{% if raw.in_bridge_port_list is defined %}and in-bridge-port-list="{{raw.in_bridge_port_list}}" {%endif%}
{% if raw.out_interface is defined %}and out-interface="{{raw.out_interface}}" {%endif%}
{% if raw.src_address_type is defined %}and src-address-type="{{raw.src_address_type}}" {%endif%}
{% if raw.copy_from is defined %}and copy-from="{{raw.copy_from}}" {%endif%}
{% if raw.in_interface is defined %}and in-interface="{{raw.in_interface}}" {%endif%}
{% if raw.out_interface_list is defined %}and out-interface-list="{{raw.out_interface_list}}" {%endif%}
{% if raw.src_mac_address is defined %}and src-mac-address="{{raw.src_mac_address}}" {%endif%}
{% if raw.disabled is defined %}and disabled={{raw.disabled}} {%endif%}
{% if raw.in_interface_list is defined %}and in-interface-list="{{raw.in_interface_list}}" {%endif%}
{% if raw.packet_mark is defined %}and packet-mark="{{raw.packet_mark}}" {%endif%}
{% if raw.src_port is defined %}and src-port="{{raw.src_port}}" {%endif%}
{% if raw.dscp is defined %}and dscp="{{raw.dscp}}" {%endif%}
{% if raw.ingress_priority is defined %}and ingress-priority="{{raw.ingress_priority}}" {%endif%}
{% if raw.packet_size is defined %}and packet-size="{{raw.packet_size}}" {%endif%}
{% if raw.tcp_flags is defined %}and tcp-flags="{{raw.tcp_flags}}" {%endif%}
{% if raw.dst_address is defined %}and dst-address="{{raw.dst_address}}" {%endif%}
{% if raw.ipsec_policy is defined %}and ipsec-policy="{{raw.ipsec_policy}}" {%endif%}
{% if raw.per_connection_classifier is defined %}and per-connection-classifier="{{raw.per_connection_classifier}}" {%endif%}
{% if raw.tcp_mss is defined %}and tcp-mss="{{raw.tcp_mss}}" {%endif%}
{% if raw.dst_address_list is defined %}and dst-address-list="{{raw.dst_address_list}}" {%endif%}
{% if raw.ipv4_options is defined %}and ipv4-options="{{raw.ipv4_options}}" {%endif%}
{% if raw.place_before is defined %}and place-before="{{raw.place_before}}" {%endif%}
{% if raw.time is defined %}and time="{{raw.time}}" {%endif%}
{% if raw.dst_address_type is defined %}and dst-address-type="{{raw.dst_address_type}}" {%endif%}
{% if raw.jump_target is defined %}and jump-target="{{raw.jump_target}}" {%endif%}
{% if raw.port is defined %}and port="{{raw.port}}" {%endif%}
{% if raw.ttl is defined %}and ttl="{{raw.ttl}}" {%endif%}
{% if raw.dst_limit is defined %}and dst-limit="{{raw.dst_limit}}" {%endif%}
{% if raw.limit is defined %}and limit="{{raw.limit}}" {%endif%}
{% if raw.priority is defined %}and priority="{{raw.priority}}" {%endif%}
{% if raw.dst_port is defined %}and dst-port="{{raw.dst_port}}" {%endif%}
{% if raw.log is defined %}and log="{{raw.log}}" {%endif%}
{% if raw.protocol is defined %}and protocol="{{raw.protocol}}" {%endif%}) \
{% set iter = true %}
{%endfor%}
) and dynamic=no]

{% for raw in mikrotik_firewall.raw_rules %}
:if ([/ip firewall raw find chain="{{raw.chain}}" {% if raw.action is defined %}action="{{raw.action}}" {%endif%}
{% if raw.fragment is defined %}fragment="{{raw.fragment}}" {%endif%}
{% if raw.log_prefix is defined %}log-prefix="{{raw.log_prefix}}" {%endif%}
{% if raw.psd is defined %}psd="{{raw.psd}}" {%endif%}
{% if raw.address_list is defined %}address-list="{{raw.address_list}}" {%endif%}
{% if raw.hotspot is defined %}hotspot="{{raw.hotspot}}" {%endif%}
{% if raw.nth is defined %}nth="{{raw.nth}}" {%endif%}
{% if raw.random is defined %}random="{{raw.random}}" {%endif%}
{% if raw.address_list_timeout is defined %}address-list-timeout="{{raw.address_list_timeout}}" {%endif%}
{% if raw.icmp_options is defined %}icmp-options="{{raw.icmp_options}}" {%endif%}
{% if raw.out_bridge_port is defined %}out-bridge-port="{{raw.out_bridge_port}}" {%endif%}
{% if raw.src_address is defined %}src-address="{{raw.src_address}}" {%endif%}
{% if raw.comment is defined %}comment="Ansible managed: [{{raw.comment}}]" {%endif%}
{% if raw.in_bridge_port is defined %}in-bridge-port="{{raw.in_bridge_port}}" {%endif%}
{% if raw.out_bridge_port_list is defined %}out-bridge-port-list="{{raw.out_bridge_port_list}}" {%endif%}
{% if raw.src_address_list is defined %}src-address-list="{{raw.src_address_list}}" {%endif%}
{% if raw.content is defined %}content="{{raw.content}}" {%endif%}
{% if raw.in_bridge_port_list is defined %}in-bridge-port-list="{{raw.in_bridge_port_list}}" {%endif%}
{% if raw.out_interface is defined %}out-interface="{{raw.out_interface}}" {%endif%}
{% if raw.src_address_type is defined %}src-address-type="{{raw.src_address_type}}" {%endif%}
{% if raw.copy_from is defined %}copy-from="{{raw.copy_from}}" {%endif%}
{% if raw.in_interface is defined %}in-interface="{{raw.in_interface}}" {%endif%}
{% if raw.out_interface_list is defined %}out-interface-list="{{raw.out_interface_list}}" {%endif%}
{% if raw.src_mac_address is defined %}src-mac-address="{{raw.src_mac_address}}" {%endif%}
{% if raw.disabled is defined %}disabled={{raw.disabled}} {%endif%}
{% if raw.in_interface_list is defined %}in-interface-list="{{raw.in_interface_list}}" {%endif%}
{% if raw.packet_mark is defined %}packet-mark="{{raw.packet_mark}}" {%endif%}
{% if raw.src_port is defined %}src-port="{{raw.src_port}}" {%endif%}
{% if raw.dscp is defined %}dscp="{{raw.dscp}}" {%endif%}
{% if raw.ingress_priority is defined %}ingress-priority="{{raw.ingress_priority}}" {%endif%}
{% if raw.packet_size is defined %}packet-size="{{raw.packet_size}}" {%endif%}
{% if raw.tcp_flags is defined %}tcp-flags="{{raw.tcp_flags}}" {%endif%}
{% if raw.dst_address is defined %}dst-address="{{raw.dst_address}}" {%endif%}
{% if raw.ipsec_policy is defined %}ipsec-policy="{{raw.ipsec_policy}}" {%endif%}
{% if raw.per_connection_classifier is defined %}per-connection-classifier="{{raw.per_connection_classifier}}" {%endif%}
{% if raw.tcp_mss is defined %}tcp-mss="{{raw.tcp_mss}}" {%endif%}
{% if raw.dst_address_list is defined %}dst-address-list="{{raw.dst_address_list}}" {%endif%}
{% if raw.ipv4_options is defined %}ipv4-options="{{raw.ipv4_options}}" {%endif%}
{% if raw.place_before is defined %}place-before="{{raw.place_before}}" {%endif%}
{% if raw.time is defined %}time="{{raw.time}}" {%endif%}
{% if raw.dst_address_type is defined %}dst-address-type="{{raw.dst_address_type}}" {%endif%}
{% if raw.jump_target is defined %}jump-target="{{raw.jump_target}}" {%endif%}
{% if raw.port is defined %}port="{{raw.port}}" {%endif%}
{% if raw.ttl is defined %}ttl="{{raw.ttl}}" {%endif%}
{% if raw.dst_limit is defined %}dst-limit="{{raw.dst_limit}}" {%endif%}
{% if raw.limit is defined %}limit="{{raw.limit}}" {%endif%}
{% if raw.priority is defined %}priority="{{raw.priority}}" {%endif%}
{% if raw.dst_port is defined %}dst-port="{{raw.dst_port}}" {%endif%}
{% if raw.log is defined %}log="{{raw.log}}" {%endif%}
{% if raw.protocol is defined %}protocol="{{raw.protocol}}" {%endif%}] = "") do={
/ip firewall raw add chain={{raw.chain}} {% if raw.action is defined %}action={{raw.action}} {%endif%}
{% if raw.fragment is defined %}fragment={{raw.fragment}} {%endif%}
{% if raw.log_prefix is defined %}log-prefix="{{raw.log_prefix}}" {%endif%}
{% if raw.psd is defined %}psd={{raw.psd}} {%endif%}
{% if raw.address_list is defined %}address-list={{raw.address_list}} {%endif%}
{% if raw.hotspot is defined %}hotspot={{raw.hotspot}} {%endif%}
{% if raw.nth is defined %}nth={{raw.nth}} {%endif%}
{% if raw.random is defined %}random={{raw.random}} {%endif%}
{% if raw.address_list_timeout is defined %}address-list-timeout={{raw.address_list_timeout}} {%endif%}
{% if raw.icmp_options is defined %}icmp-options={{raw.icmp_options}} {%endif%}
{% if raw.out_bridge_port is defined %}out-bridge-port={{raw.out_bridge_port}} {%endif%}
{% if raw.src_address is defined %}src-address={{raw.src_address}} {%endif%}
{% if raw.comment is defined %}comment="Ansible managed: [{{raw.comment}}]" {%endif%}
{% if raw.in_bridge_port is defined %}in-bridge-port={{raw.in_bridge_port}} {%endif%}
{% if raw.out_bridge_port_list is defined %}out-bridge-port-list={{raw.out_bridge_port_list}} {%endif%}
{% if raw.src_address_list is defined %}src-address-list={{raw.src_address_list}} {%endif%}
{% if raw.content is defined %}content={{raw.content}} {%endif%}
{% if raw.in_bridge_port_list is defined %}in-bridge-port-list={{raw.in_bridge_port_list}} {%endif%}
{% if raw.out_interface is defined %}out-interface={{raw.out_interface}} {%endif%}
{% if raw.src_address_type is defined %}src-address-type={{raw.src_address_type}} {%endif%}
{% if raw.copy_from is defined %}copy-from={{raw.copy_from}} {%endif%}
{% if raw.in_interface is defined %}in-interface={{raw.in_interface}} {%endif%}
{% if raw.out_interface_list is defined %}out-interface-list={{raw.out_interface_list}} {%endif%}
{% if raw.src_mac_address is defined %}src-mac-address={{raw.src_mac_address}} {%endif%}
{% if raw.disabled is defined %}disabled={{raw.disabled}} {%endif%}
{% if raw.in_interface_list is defined %}in-interface-list={{raw.in_interface_list}} {%endif%}
{% if raw.packet_mark is defined %}packet-mark={{raw.packet_mark}} {%endif%}
{% if raw.src_port is defined %}src-port={{raw.src_port}} {%endif%}
{% if raw.dscp is defined %}dscp={{raw.dscp}} {%endif%}
{% if raw.ingress_priority is defined %}ingress-priority={{raw.ingress_priority}} {%endif%}
{% if raw.packet_size is defined %}packet-size={{raw.packet_size}} {%endif%}
{% if raw.tcp_flags is defined %}tcp-flags={{raw.tcp_flags}} {%endif%}
{% if raw.dst_address is defined %}dst-address={{raw.dst_address}} {%endif%}
{% if raw.ipsec_policy is defined %}ipsec-policy={{raw.ipsec_policy}} {%endif%}
{% if raw.per_connection_classifier is defined %}per-connection-classifier={{raw.per_connection_classifier}} {%endif%}
{% if raw.tcp_mss is defined %}tcp-mss={{raw.tcp_mss}} {%endif%}
{% if raw.dst_address_list is defined %}dst-address-list={{raw.dst_address_list}} {%endif%}
{% if raw.ipv4_options is defined %}ipv4-options={{raw.ipv4_options}} {%endif%}
{% if raw.place_before is defined %}place-before={{raw.place_before}} {%endif%}
{% if raw.time is defined %}time={{raw.time}} {%endif%}
{% if raw.dst_address_type is defined %}dst-address-type={{raw.dst_address_type}} {%endif%}
{% if raw.jump_target is defined %}jump-target={{raw.jump_target}} {%endif%}
{% if raw.port is defined %}port={{raw.port}} {%endif%}
{% if raw.ttl is defined %}ttl={{raw.ttl}} {%endif%}
{% if raw.dst_limit is defined %}dst-limit={{raw.dst_limit}} {%endif%}
{% if raw.limit is defined %}limit={{raw.limit}} {%endif%}
{% if raw.priority is defined %}priority={{raw.priority}} {%endif%}
{% if raw.dst_port is defined %}dst-port={{raw.dst_port}} {%endif%}
{% if raw.log is defined %}log={{raw.log}} {%endif%}
{% if raw.protocol is defined %}protocol={{raw.protocol}} {%endif%}
}
{%endfor%}
