chain={{raw.chain}}
{% if raw.action is defined %}action={{raw.action}} {%endif%}
{% if raw.fragment is defined %}fragment={{raw.fragment}} {%endif%}
{% if raw.log_prefix is defined %}log-prefix={{raw.log_prefix}} {%endif%}
{% if raw.psd is defined %}psd={{raw.psd}} {%endif%}
{% if raw.address_list is defined %}address-list={{raw.address_list}} {%endif%}
{% if raw.hotspot is defined %}hotspot={{raw.hotspot}} {%endif%}
{% if raw.nth is defined %}nth={{raw.nth}} {%endif%}
{% if raw.random is defined %}random={{raw.random}} {%endif%}
{% if raw.address_list_timeout is defined %}address-list-timeout={{raw.address_list_timeout}} {%endif%}
{% if raw.icmp_options is defined %}icmp-options={{raw.icmp_options}} {%endif%}
{% if raw.out_bridge_port is defined %}out-bridge-port={{raw.out_bridge_port}} {%endif%}
{% if raw.src_address is defined %}src-address={{raw.src_address}} {%endif%}
{% if raw.comment is defined %}comment={{raw.comment}} {%endif%}
{% if raw.in_bridge_port is defined %}in-bridge-port={{raw.in_bridge_port}} {%endif%}
{% if raw.out_bridge_port_list is defined %}out-bridge-port-list={{raw.out_bridge_port_list}} {%endif%}
{% if raw.src_address_list is defined %}src-address-list={{raw.src_address_list}} {%endif%}
{% if raw.content is defined %}content={{raw.content}} {%endif%}
{% if raw.in_bridge_port_list is defined %}in-bridge-port-list={{raw.in_bridge_port_list}} {%endif%}
{% if raw.out_interface is defined %}out-interface={{raw.out_interface}} {%endif%}
{% if raw.src_address_type is defined %}src-address-type={{raw.src_address_type}} {%endif%}
{% if raw.copy_from is defined %}copy-from={{raw.copy_from}} {%endif%}
{% if raw.in_interface is defined %}in-interface={{raw.in_interface}} {%endif%}
{% if raw.out_interface_list is defined %}out-interface-list={{raw.out_interface_list}} {%endif%}
{% if raw.src_mac_address is defined %}src-mac-address={{raw.src_mac_address}} {%endif%}
{% if raw.disabled is defined %}disabled={{raw.disabled}} {%endif%}
{% if raw.in_interface_list is defined %}in-interface-list={{raw.in_interface_list}} {%endif%}
{% if raw.packet_mark is defined %}packet-mark={{raw.packet_mark}} {%endif%}
{% if raw.src_port is defined %}src-port={{raw.src_port}} {%endif%}
{% if raw.dscp is defined %}dscp={{raw.dscp}} {%endif%}
{% if raw.ingress_priority is defined %}ingress-priority={{raw.ingress_priority}} {%endif%}
{% if raw.packet_size is defined %}packet-size={{raw.packet_size}} {%endif%}
{% if raw.tcp_flags is defined %}tcp-flags={{raw.tcp_flags}} {%endif%}
{% if raw.dst_address is defined %}dst-address={{raw.dst_address}} {%endif%}
{% if raw.ipsec_policy is defined %}ipsec-policy={{raw.ipsec_policy}} {%endif%}
{% if raw.per_connection_classifier is defined %}per-connection-classifier={{raw.per_connection_classifier}} {%endif%}
{% if raw.tcp_mss is defined %}tcp-mss={{raw.tcp_mss}} {%endif%}
{% if raw.dst_address_list is defined %}dst-address-list={{raw.dst_address_list}} {%endif%}
{% if raw.ipv4_options is defined %}ipv4-options={{raw.ipv4_options}} {%endif%}
{% if raw.place_before is defined %}place-before={{raw.place_before}} {%endif%}
{% if raw.time is defined %}time={{raw.time}} {%endif%}
{% if raw.dst_address_type is defined %}dst-address-type={{raw.dst_address_type}} {%endif%}
{% if raw.jump_target is defined %}jump-target={{raw.jump_target}} {%endif%}
{% if raw.port is defined %}port={{raw.port}} {%endif%}
{% if raw.ttl is defined %}ttl={{raw.ttl}} {%endif%}
{% if raw.dst_limit is defined %}dst-limit={{raw.dst_limit}} {%endif%}
{% if raw.limit is defined %}limit={{raw.limit}} {%endif%}
{% if raw.priority is defined %}priority={{raw.priority}} {%endif%}
{% if raw.dst_port is defined %}dst-port={{raw.dst_port}} {%endif%}
{% if raw.log is defined %}log={{raw.log}} {%endif%}
{% if raw.protocol is defined %}protocol={{raw.protocol}} {%endif%}
